# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://prparzgqevfelwsndmkc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_gFeXATQGYxKx08BpeOedZg_7buTwVJq

# AI Providers (серверные ключи - НЕ коммитить в git!)
GROQ_API_KEY=
GEMINI_API_KEY=
CLAUDE_API_KEY=
DEEPSEEK_API_KEY=

# Сайт
NEXT_PUBLIC_SITE_NAME=RKT HUB
NEXT_PUBLIC_SITE_URL=http://localhost:3000
